name: "Test"

# actions-up-ignore-file

on:
  workflow_dispatch:
  #schedule:
  #  - cron: "18 18 * * 1,3,5"
  push:
    branches: ["**"]
    paths:
      - ".github/workflows/test.yaml"
      - "dist/**"
      - "src/**"
      - "package*.json"
      - "requirements*.txt"
      - "action.yml"

env:
  TAGS: test-tag

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      contents: write

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Debug CTX github"
        if: ${{ !github.event.act }}
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"

      - name: "Debug Environment"
        if: ${{ !github.event.act }}
        continue-on-error: true
        run: |
          env

      - name: "1: Test Manual"
        if: ${{ !cancelled() }}
        id: test1
        uses: ./
        with:
          summary: ${{ !github.event.act }}
          dry_run: true
          minor: false
          major: false
          tags: ${{ env.TAGS }}

      - name: "1: Verify Manual"
        if: ${{ !cancelled() }}
        run: |
          echo "tags: '${{ steps.test1.outputs.tags }}'"
          if [ '${{ steps.test1.outputs.tags }}' != '${{ env.TAGS }}' ];then
            echo "Invalid Output: tags"
            exit 1
          fi

      - name: "2: Test Manual, Target"
        if: ${{ !cancelled() && !github.event.act }}
        id: test2
        uses: ./
        with:
          summary: ${{ !github.event.act }}
          dry_run: true
          minor: false
          major: false
          tags: ${{ env.TAGS }}
          tag: "v1.0.0"

      - name: "2: Verify Manual, Target"
        if: ${{ !cancelled() && !github.event.act }}
        run: |
          echo "tags: '${{ steps.test2.outputs.tags }}'"
          if [ '${{ steps.test2.outputs.tags }}' != '${{ env.TAGS }}' ];then
            echo "Invalid Output: tags"
            exit 1
          fi

      - name: "3: Test Manual, Target, Parsing"
        if: ${{ !cancelled() }}
        id: test3
        uses: ./
        with:
          summary: ${{ !github.event.act }}
          dry_run: true
          tags: ${{ env.TAGS }}
          tag: "v1.0.0"

      - name: "3: Verify Manual, Target, Parsing"
        if: ${{ !cancelled() }}
        run: |
          echo "tags: '${{ steps.test3.outputs.tags }}'"
          if [ '${{ steps.test3.outputs.tags }}' != 'test-tag,v1,v1.0' ];then
            echo "Invalid Output: tags"
            exit 1
          fi

      - name: "4: Test Parsing"
        if: ${{ !cancelled() && !github.event.act }}
        id: test4
        uses: ./
        with:
          summary: ${{ !github.event.act }}
          dry_run: true
          tag: "v1.0.0"

      - name: "4: Verify Parsing"
        if: ${{ !cancelled() && !github.event.act }}
        env:
          semver: ${{ steps.test1.outputs.semver }}
        run: |
          echo "tags: '${{ steps.test4.outputs.tags }}'"
          if [ '${{ steps.test4.outputs.tags }}' != 'v1,v1.0' ];then
            echo "Invalid Output: tags"
            exit 1
          fi
          echo "semver: ${semver}"
          if [ -z '${{ steps.test4.outputs.semver }}' ];then
            echo "Invalid Output: semver"
            exit 1
          fi

      #- name: "Cleanup Tag"
      #  if: ${{ always() }}
      #  continue-on-error: true
      #  run: git push origin :refs/tags/${{ env.TAG }}

      #- name: "Schedule Failure Notification"
      #  if: ${{ failure() && github.event_name == 'schedule' }}
      #  uses: sarisia/actions-status-discord@v1
      #  with:
      #    webhook: ${{ secrets.DISCORD_WEBHOOK }}
